:root{
    --basic-grey: #dfdfdf;
    --basic-red: #6a0404;
}

*{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

/* Global Header */
#global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    nav{
        ul{
            padding:0;
            margin:0;
            li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}

#mainlogo{
    font-size: 30px;
    font-family: arial;
    font-weight: 900;
    color: #b60404;
    text-decoration: none;
}

a{
    color: #000;
    text-decoration: none;
}


/*HERO-section*/

.deal-section{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/023/852/small_2x/abstract-colorful-geometric-shape-background-modern-color-background-for-your-website-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:var(--basic-grey);
    padding: 1rem;
    position: relative;
    height: 200px;
    min-height: 200px;
    
    /* img{
        width: 100%;
    }

    h2, p, a{
        position: absolute;
    }

    p{
        top: 63px;
    }
    
    a{
        top: 160px;
    } */

}

/* Hoved Innhold */

main{
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;

    section {
        h2{
            text-align: center;
        }
        article{
            margin: 0 auto;
        }
    }
}

article{
    margin: 1rem 0;
    border:1px solid #3c3c3c;
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    padding: 1rem;

    img{
        width: 100%;
    }
}

.btn{
    display: inline-block;
    background-color: #131313;
    color: #fff;
    padding: 1rem;
    border: none;
}

.side-container{
    background-color: var(--basic-grey);
    padding: 1rem;

    form{

        input{
            display: block;
            padding: 1rem;
            margin: 0.4rem 0;
        }
    }
}

.age-check{
    display: flex;
    align-items: center;
    gap: 1rem
}

footer{
    background-color: #710202;
    color: #ffff;
    padding: 1rem;
    min-height: 150px;
}